.menu-items {
  .nothing-found {
    padding: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-item {
  &:hover {
    background-color: #c4c4c4;
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

  .image-wrapper {
    padding: 5px;
    img {
      width: auto;
      height: 60px;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
