/**
* This is the main stylesheet for the sass compiler, all imports should stem from this initial page.
* It contains the universal styles of the site, the imports and various other items.
*/
// Colours and settings
$siteWidth: 1280px;

// Imports
@import "_menu.scss";
@import "_home.scss";
@import "_menuItem.scss";

html,
html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// These are used to ensure the app runs full display
html,
body {
  width: 100%;
  height: 100%;
}

// Main body content
main {
  // The main body of the page
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  * {
    -webkit-font-smoothing: antialiased;
  }

  // The links for the app all have these main attributes
  a {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
    &:visited {
      color: inherit;
    }
  }

  // Inner Divs are used for general full width containers
  div.inner {
    width: 100%;
    height: auto;
    background-color: rgb(150, 0, 0);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
